# Pandas Basic

In [1]:
import pandas as pd

In [2]:
pd.read_csv("Book1.csv")

   id loc add name
0   1   a  ab  acd
1   2   b  bb   df
2   3   c  cb  dfd
3   4   d  db  fds
4   5   e  eb  dff

In [3]:
pd.read_csv("data.csv")

    name           email      phone
0   sudh  sudh@gmail.com   96949393
1  nitai  nitai@gmailcon  949292922

In [4]:
df = pd.read_csv("Book1.csv")

In [5]:
df.head()

   id loc add name
0   1   a  ab  acd
1   2   b  bb   df
2   3   c  cb  dfd
3   4   d  db  fds
4   5   e  eb  dff

In [6]:
pd.read_csv("data.csv", header = None)

       0               1          2
0   name           email      phone
1   sudh  sudh@gmail.com   96949393
2  nitai  nitai@gmailcon  949292922

In [7]:
df.head(2)

   id loc add name
0   1   a  ab  acd
1   2   b  bb   df

In [8]:
df.tail()

   id loc add name
0   1   a  ab  acd
1   2   b  bb   df
2   3   c  cb  dfd
3   4   d  db  fds
4   5   e  eb  dff

In [9]:
df.tail(2)

   id loc add name
3   4   d  db  fds
4   5   e  eb  dff

In [10]:
type(df)

pandas.core.frame.DataFrame

In [12]:
list(df.columns)

['id', 'loc', 'add', 'name']

In [14]:
df['id']

0    1
1    2
2    3
3    4
4    5
Name: id, dtype: int64

In [15]:
df['loc']

0    a
1    b
2    c
3    d
4    e
Name: loc, dtype: object

In [16]:
type(df['loc'])

pandas.core.series.Series

In [17]:
list(df['loc'])

['a', 'b', 'c', 'd', 'e']

In [18]:
# series and list are eqivalent but list does not show indexes

In [19]:
df[['loc']]

  loc
0   a
1   b
2   c
3   d
4   e

In [21]:
type(df[['loc']])

pandas.core.frame.DataFrame

In [22]:
df.columns

Index(['id', 'loc', 'add', 'name'], dtype='object')

In [23]:
df['id', 'name']

KeyError: ('id', 'name')

In [27]:
df[['id', 'name' ]]

   id name
0   1  acd
1   2   df
2   3  dfd
3   4  fds
4   5  dff

In [28]:
df.dtypes

id       int64
loc     object
add     object
name    object
dtype: object

In [29]:
#object = string

In [38]:
df1 = pd.read_excel("SalesReport1pandas.xlsx", sheet_name = 0)

In [37]:
type(df1)

pandas.core.frame.DataFrame

In [39]:
df1.columns

Index(['Product', 'Customer', 'Qtr 1', 'Qtr 2', 'Qtr 3', 'Qtr 4'], dtype='object')

In [40]:
df1[['Product', 'Qtr 1']]

           Product    Qtr 1
0     Alice Mutton     0.00
1     Alice Mutton   312.00
2     Alice Mutton     0.00
3     Alice Mutton  1170.00
4     Alice Mutton  1123.20
..             ...      ...
272  Veggie-spread     0.00
273  Veggie-spread   921.37
274  Veggie-spread     0.00
275  Veggie-spread     0.00
276  Veggie-spread     0.00

[277 rows x 2 columns]

In [ ]:
pd.read_csv("http://localhost:8888/edit/Documents/courses/datascience/data.csv") #enter the link

In [47]:
import lxml
df3=pd.read_html(#link#)

In [50]:
df1.to_excel("pandas_basic_1.xlsx") #to store permanently on the system

In [49]:
# if want to remove index , df1.to_csv("pandas_basic_1.xlsx", index=False)

concluded