# Pandas Advanced 2

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
s = df['Name'][0:10]

In [13]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [7]:
len(s)

891

In [10]:
type(s)

pandas.core.series.Series

In [14]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [19]:
l = ['sudh','b','c','d','e','f','g','h','i','j']

In [21]:
s1 =pd.Series(list(s),index=l)

In [22]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [23]:
s1

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
s[0]

'Braund, Mr. Owen Harris'

In [25]:
s1[0]

'Braund, Mr. Owen Harris'

In [26]:
s1["sudh"]

'Braund, Mr. Owen Harris'

In [29]:
s2 = s1.append(s)

/tmp/ipykernel_103/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [30]:
s2

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
5                                        Moran, Mr. James
6                                 McCarthy, Mr. Timothy J
7                          Palsson, Master. Gosta Leonard
8       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [32]:
s2[4]

'Allen, Mr. William Henry'

In [34]:
s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])

In [35]:
s5 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [37]:
s6 = s4.append(s5)

/tmp/ipykernel_103/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [39]:
s6

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [40]:
s6[4]

4      4
4    345
dtype: int64

In [41]:
s6[0:5]

/tmp/ipykernel_103/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [42]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [43]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [44]:
s4*s5

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

In [45]:
s4+s5

1      NaN
2      NaN
4    349.0
5     50.0
6     51.0
7      NaN
9      NaN
dtype: float64