# List, Tuple and Set

### List ( [ ] list )

list has positive index from 0 to n-1, and reverse indexing from -1 to n 
list can store duplicate data.

In [1]:
l = [1, 548, "agam", 5+7j, 345.567, 348, 45]

To find the type, [] - list

In [2]:
type(l)

list

Slicing and indexing

In [3]:
l[0]

1

In [4]:
l[0]+l[1]

549

if access index out of range then it will throw and error.

In [5]:
l[90]

IndexError: list index out of range

To take out multiple data at multiple indices at once

In [6]:
l[0:3]

[1, 548, 'agam']

In [7]:
l[-1]

45

Reverse of a list

In [8]:
l[::-1]

[45, 348, 345.567, (5+7j), 'agam', 548, 1]

TO get data at even indices

In [9]:
l[::2]

[1, 'agam', 345.567, 45]

To get data at odd indices

In [11]:
l[1::2]

[548, (5+7j), 348]

#### Concatenation

To add string and list

In [12]:
l

[1, 548, 'agam', (5+7j), 345.567, 348, 45]

In [13]:
s = "pwskills"

In [14]:
l+s

TypeError: can only concatenate list (not "str") to list

for later

In [15]:
l

[1, 548, 'agam', (5+7j), 345.567, 348, 45]

In [19]:
l =[1, 548, 'agam',True, (5+7j), 345.567, 348, 45]

In [20]:
l

[1, 548, 'agam', True, (5+7j), 345.567, 348, 45]

To get 'ag' from and string in the list

In [16]:
l[2]

'agam'

In [18]:
l[2][0:2]

'ag'

but the same wont be applied to the 'True' as it is a booelan datatype not string.

A list can be added to another list

In [21]:
l1 = [3, 4, "patel"]

In [22]:
l+l1

[1, 548, 'agam', True, (5+7j), 345.567, 348, 45, 3, 4, 'patel']

In [23]:
l1*3

[3, 4, 'patel', 3, 4, 'patel', 3, 4, 'patel']

No. of elements in the string

In [24]:
len(l)

8

### Append and Extend functions

To get detail of all the functions we have to write l. and press tab, to get info abt any function we have to use shift+tab, for eg. l.append; shift+tab will give info about the append function.

In [25]:
l.append(5)
l

[1, 548, 'agam', True, (5+7j), 345.567, 348, 45, 5]

In [28]:
s

'pwskills'

In [26]:
l.append(s)

In [27]:
l

[1, 548, 'agam', True, (5+7j), 345.567, 348, 45, 5, 'pwskills']

In [29]:
l1

[3, 4, 'patel']

In [30]:
l.append(l1)

In [31]:
l

[1,
 548,
 'agam',
 True,
 (5+7j),
 345.567,
 348,
 45,
 5,
 'pwskills',
 [3, 4, 'patel']]

To retrieve '4'

In [32]:
l[-1]

[3, 4, 'patel']

In [33]:
l[-1][1]

4

### Extend function

#### Signature: l.extend(iterable, /)

it will work when there is object which is passed is type of data inside the data -- Iterables.

In [34]:
l

[1,
 548,
 'agam',
 True,
 (5+7j),
 345.567,
 348,
 45,
 5,
 'pwskills',
 [3, 4, 'patel']]

Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [35]:
l.extend(4)

TypeError: 'int' object is not iterable

In [40]:
l.extend("Oriya")

In [41]:
l

[1,
 548,
 'agam',
 True,
 (5+7j),
 345.567,
 348,
 45,
 5,
 'pwskills',
 [3, 4, 'patel'],
 'O',
 'r',
 'i',
 'y',
 'a']

In [42]:
l.extend(l1)

In [43]:
l

[1,
 548,
 'agam',
 True,
 (5+7j),
 345.567,
 348,
 45,
 5,
 'pwskills',
 [3, 4, 'patel'],
 'O',
 'r',
 'i',
 'y',
 'a',
 3,
 4,
 'patel']

With append, the list was added as a list, that is was given one index in the list l, but with extend all the element of l1 are added with separate indices as an individual elements of the list l. The data is added at the last position with apend or extend, to add datatin a given position.

### Insert Operation

#### Signature: l1.insert(index, object, /)

Docstring: Insert object before index.
Type:      builtin_function_or_method

In [44]:
l1

[3, 4, 'patel']

In [45]:
l1.insert(1, "Jabalpur")

In [46]:
l1

[3, 'Jabalpur', 4, 'patel']

In [47]:
l1.insert(2, [2,3,4])

In [48]:
l1

[3, 'Jabalpur', [2, 3, 4], 4, 'patel']

In [49]:
l1.insert(-1, 45)

The data should be gone at the last position but it seems that it went at the index -2, but it is added at index -1 of the list l1 that is [3, "Jabalpur, [2,3,4], 4, "patel"] where 'patel' is at he index -1, so the 45 is addded in hte place of 45 and the 5 is shifter to right.

In [50]:
l1

[3, 'Jabalpur', [2, 3, 4], 4, 45, 'patel']

### Remove Data

In [51]:
l1.pop()

'patel'

In [52]:
l1

[3, 'Jabalpur', [2, 3, 4], 4, 45]

In [53]:
l1.pop(0)

3

In [54]:
l1

['Jabalpur', [2, 3, 4], 4, 45]

In [55]:
l1.remove([2,3,4]) #takes value rather index, pop takes index

In [56]:
l1

['Jabalpur', 4, 45]

In [57]:
l1.remove(234)

ValueError: list.remove(x): x not in list

In [58]:
l.append({2,3,4})

In [60]:
l1.append([2,3,4])

In [61]:
l1

['Jabalpur', 4, 45, [2, 3, 4]]

In [63]:
l1[-1].remove(3)

In [64]:
l1

['Jabalpur', 4, 45, [2, 4]]

In [65]:
l1[0].remove('su')

AttributeError: 'str' object has no attribute 'remove'

In [69]:
l1[::-1]

['Jabalpur', 4, 45, [2, 4]]

In [67]:
l1.reverse() #it will save the reverse list in the l1 permanently

In [70]:
l1

[[2, 4], 45, 4, 'Jabalpur']

In [71]:
l1.sort() # must have same type of data inside

TypeError: '<' not supported between instances of 'int' and 'list'

In [74]:
l2 = [1,2,5,3,4,7,5]
l2.sort() #IT will also save the result permanently

In [73]:
l2

[1, 2, 3, 4, 5, 5, 7]

In [77]:
l3 = ["alago","agam", "oriya","patel"]

In [79]:
l3.sort()
l3

['agam', 'alago', 'oriya', 'patel']

In [80]:
l3.sort(reverse = True)

In [81]:
l3

['patel', 'oriya', 'alago', 'agam']

In [82]:
l3.index("patel")

0

In [84]:
l3.count("patel")

1

In [85]:
s = "Agam Patel"

In [86]:
l5=[3,4,2,3]
s[0]

'A'

In [87]:
s[0]='S'

TypeError: 'str' object does not support item assignment

In [88]:
l5[0]='A'

In [89]:
l5

['A', 4, 2, 3]

#### Replace function in string

In [90]:
s.replace("A", "H") #but the original s will not be changed.

'Hgam Patel'

In [91]:
s

'Agam Patel'

## Tuple( () )

Tuple can also contain all types of data inside of it. but it is not mutable like list.

In [92]:
t = (2,3,4,5,"GAMA", 5+4j)

In [93]:
type(t)

tuple

In [94]:
len(t)

6

In [95]:
t[0]

2

In [96]:
t[-1]

(5+4j)

In [97]:
t[::-1]

((5+4j), 'GAMA', 5, 4, 3, 2)

In [98]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [99]:
t.index(2)

0

## Set ({})

In [100]:
s = {}
type(s)

dict

In [101]:
s1 = {1,2,3,4,5}
type(s1)

set

In [102]:
s1 = {1,2,3,4, [1,2]}

TypeError: unhashable type: 'list'

In [103]:
s1 = {2,3,4,5,(2,3)}

In [104]:
s1

{(2, 3), 2, 3, 4, 5}

In [105]:
s1 = {1,2,3,2,1,23,3,34,2,1,2,3,4,2,2,13,4,4,32,21,3,3,22,1}
s1 #will keep only unique values, removes duplicate values

{1, 2, 3, 4, 13, 21, 22, 23, 32, 34}

In [106]:
s1 = {1,2,3,2,1,23,3,34,2,1,2,3,4,2,2,13,4,4,32,21,3,3,22,1,"Agam", "agam"}

In [107]:
s1 #python is a case sensitive language

{1, 13, 2, 21, 22, 23, 3, 32, 34, 4, 'Agam', 'agam'}

In [108]:
l6=[1,2,3,2,1,23,3,34,2,1,2,3,4,2,2,13,4,4,32,21,3,3,22,1,"Agam", "agam"]
l6=list(set(l6))
l6

[32, 1, 2, 3, 34, 4, 'agam', 13, 'Agam', 21, 22, 23]

In [109]:
s1[0]

TypeError: 'set' object is not subscriptable

In [110]:
s1[::-1]

TypeError: 'set' object is not subscriptable

In [111]:
s1.add(4)

In [112]:
s1

{1, 13, 2, 21, 22, 23, 3, 32, 34, 4, 'Agam', 'agam'}

In [113]:
s1.remove(13)

In [114]:
s1

{1, 2, 21, 22, 23, 3, 32, 34, 4, 'Agam', 'agam'}

In [115]:
s1.issubset({1,2})

False

In [116]:
s1.issuperset({1,2})

True

Lecture Concluded